{% extends 'base.html' %}


{% block container %}
<h2>ToDo List Class Based</h2>

<!--? "object_list" view class tarafından türetilen data ismi sabit rastgele belirlenmiş değil. -->
<!--todo, FBV kullanırken {{ todos }} gibi yazmıştık, contexten alıp, CBV kullanırken böyle olmalı -->

{{ object_list }}
<p>Yukarıdaki gelen objenin tamamı, Queryset</p>
<hr>

<p> str metodunda belirtilen hali; </p>
<ul>

    <!--? "object_list" view class tarafından türetilen data ismi sabit rastgele belirlenmiş değil. -->
    <!--todo, FBV kullanırken {{ todos }} gibi yazmıştık, contexten alıp, CBV kullanırken böyle olmalı -->

    {% for todo in object_list %}
    <!--* modelde belirttiğimiz str metodu nasılsa öyle görünür çıktısı -->
    <li> {{ todo }} </li>
    {% endfor %}
</ul>

<hr>
<p> yeni todo eklemek için tablo üzerine bir buton ekledik.
    (liste aşağıya doğru uzayıp sonra buton altta kaybolmasın
    diye) VE add url'e yönlendirme yaptık.
</p>

<!--* hardcode klasik yazım -->
<!-- <a href="/add1"> -->

<!--* DTL ile yazım -->
<a href=" {% url 'todo_addcb' %}">
    <button class="btn btn-success"> Add Todo </button>
</a>


<br>
<hr>


<p> TABLO olarak sergilemek için; </p>
<!--? artık bootstrap class larını kullanabilirim -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><b>TITLE</b></td>
            <td><b>DESCRIPTION</b></td>
            <td><b>PRIORITY</b></td>
            <td>STATUS</td>
        </tr>
    </thead>
    <tbody>

        <!--? "object_list" view class tarafından türetilen data ismi sabit rastgele belirlenmiş değil. -->
        <!--todo, FBV kullanırken {{ todos }} gibi yazmıştık, contexten alıp, CBV kullanırken böyle olmalı -->

        {% for todo in object_list %}
        <tr>
            <td> {{todo.title}}</td>
            <td> {{todo.description}}</td>

            <!--? get_FIELDNAME_display formatı choices kullandığımız fieldların value'sunu göstermek için kullanılır.   {{ todo.get_priority_display }}   -->

            <!--* bootstarp class'ları var olduğundan artık bir condition yazıp duruma göre renklendirme yapabiliriz, <b> tagı bold olması için yazıların -->
            <td>
                {% if todo.priority == 1 %}
                <b class="text-danger"> {{ todo.get_priority_display }} </b>
                {% elif todo.priority == 2 %}
                <b class="text-warning"> {{ todo.get_priority_display }} </b>
                {% else %}
                <b class="text-info"> {{ todo.get_priority_display }} </b>
                {% endif %}
            </td>


            <!--* html uzantılı sayfalarda  çift tırnak " " kullanmak gerekiyor, tek tırnak ' ' hata verbiliyor. -->
            <td>
                {% if todo.status == "c" %}
                <b class="text-danger"> {{ todo.get_status_display }} </b>
                {% elif todo.status == "w" %}
                <b class="text-warning"> {{ todo.get_status_display }} </b>
                {% else %}
                <b class="text-info"> {{ todo.get_status_display }} </b>
                {% endif %}
            </td>

            <!--? update ve delete işlemleri için birek link/buton ekledik. -->
            <td>
                <a href="/updatecb/{{ todo.id }}">
                    <button>Update</button>
                </a>

                <!--? tıklandığı zaman bir mesaj ile sorması için; onclick="return confirm('are you sure?')" eklenebilir, ama zaten delete için başka sayfaya gidip oradan silme yapacağı için mesaj oraya yazıldı. -->
                <a href="/deletecb/{{ todo.id }}">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock container %}