<!--? static çalışması için -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--? bootstrap css -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!--? static, root directory içindeki static klasörü altındaki style.css çalışır -->
    <!-- bunu kullanmak için settings.py içine;
            import os
            STATIC_URL = '/static/'
            STATICFILES_DIRS = [os.path.join(BASE_DIR, 'static')]
            
            # MEDIA FILES
            
            MEDIA_URL = '/media/'
            MEDIA_ROOT = os.path.join(BASE_DIR, 'media') -->

    <!--? root'a eklenen static/css altındaki style.css aktifolması için, link ile bağlamak gerekli, ve MUTLAKA en üstte load static komutunu yazmak gerekiyor. -->
    <!--?  DTL ile link yazılması -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>Pizza App</title>
</head>

<body>

    <!--? başka yerde yazılan bir template include komutu ile burada çağırılabilir. -->
    <!--? navbar ayrı bir html dosyası, burada çağırıp kullandık. -->
    {% include 'pizzas/navbar.html' %}


    <!-- <h1>Base Template</h1> -->


    {% block container %}

    {% endblock container %}


    <!--? bootstrap js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- <script src="../../../static/js/timeout.js"></script> -->
    <!--? DTL ile yazılması -->
    <script src="{% static 'js/timeout.js' %}"></script>

</body>

</html>