{% extends 'pizzas/base.html' %}


{% block container %}
<h2>Home Page</h2>

<!--? eğer kullanıcı login olmuş / is_authenticated ise -->
{% if user.is_authenticated %}
<!--? istek yapan user'ın username bilgisini göster -->
<h1> Welcome {{ request.user.username }}</h1>

{% endif %}

<!--? ekranda bir mesaj yazdırmak için gereken kod bloğu, bu starndart bir kullanımdır, istenilen yerde alıp kullanılabilir. -->

<!--? view'da yazdırılan mesajın tag'ına göre id verilerek css verilebilir (warning, success gibi) -->

<div class="homeImage">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "warning" %}
    <div id="warning" class="message rounded col-md-2">{{ message }}</div>
    {% else %}
    <div id="success" class="message rounded col-md-2">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}

</div>


{% endblock container %}