{% extends 'pizzas/base.html' %}


{% block container %}
<h2>Home Page</h2>


{% if user.is_authenticated %}

<h1> Welcome {{ request.user.username }}</h1>

{% endif %}

<!--? ekranda bir mesaj yazdırmak için gereken kod bloğu, bu starndart bir kullanımdır, istenilen yerde alıp kullanılabilir. -->

<div class="homeImage">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "warning" %}
    <div id="warning" class="message rounded col-md-2">{{ message }}</div>
    {% else %}
    <div id="success" class="message rounded col-md-2">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}

</div>


{% endblock container %}