<!-- base.html'den inherit edildi, yol belirtmeye gerek yok,
settings içinde -- 'DIRS': [BASE_DIR / 'templates'], yazdığımız için
root içindeki, templates klasörü altındaki base.html'e bakar.  -->
{% extends 'base.html' %}

<!--? static çalışması için açılış/kapanış blokları üstünde bu komut yazılmalı  -->
{% load static %}


{% block link %}
<!--? static, students içindeki static klasörü altındaki main.css çalışır ve yazılar kırmızı olur. -->
<link rel="stylesheet" href="{% static 'students/main.css' %}">
{% endblock link %}


{% block title %}
Index Home
{% endblock title %}


{% block body %}
<h1>Hello this is (students / INDEX.html) home page.....</h1>
<p>Yazı KIRMIZI renk çünkü, students'daki static klasörü içindeki main.css bağlı</p>
{% endblock body %}