{% extends 'base.html' %}

<h1>ToDo List</h1>

{% block container %}
{{ todos }}
<p>Yukarıdaki gelen objenin tamamı, Queryset</p>
<hr>

<p> str metodunda belirtilen hali; </p>
<ul>
    {% for todo in todos %}
    <!--* modelde belirttiğimiz str metodu nasılsa öyle görünür çıktısı -->
    <li> {{ todo }} </li>
    {% endfor %}
</ul>

<hr>
<p> table olarak sergilemek için; </p>

<a href="">
    <button> Add Todo </button>
</a>
<!--? artık bootstrap class larını kullanabilirim -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>title</td>
            <td>description</td>
            <td>priority</td>
            <td>status</td>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td> {{todo.title}}</td>
            <td> {{todo.description}}</td>

            <!--? get_FIELDNAME_display formatı choices kullandığımız fieldların value'sunu göstermek için kullanılır.   {{ todo.get_priority_display }}   -->
            <td>
                {% if todo.priority == 1 %}
                <b class="text-danger"> {{ todo.get_priority_display }} </b>
                {% elif todo.priority == 2 %}
                <b class="text-warning"> {{ todo.get_priority_display }} </b>
                {% else %}
                <b class="text-info"> {{ todo.get_priority_display }} </b>
                {% endif %}
            </td>

            <td>
                {% if todo.status == "c" %}
                <b class="text-danger"> {{ todo.get_status_display }} </b>
                {% elif todo.status == "w" %}
                <b class="text-warning"> {{ todo.get_status_display }} </b>
                {% else %}
                <b class="text-info"> {{ todo.get_status_display }} </b>
                {% endif %}
            </td>
            <td>
                <a href="/update/{{ todo.id }}">Update</a>
                <a href="/delete/{{ todo.id }}" onclick="return confirm('are you sure?')">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock container %}