{% extends 'base.html' %}
{% load static %}
{% block link %}
<!--? static, root içindeki static klasörü altındaki main.css çalışır ve  ===== h2 turkuaz, p  mor olur. -->
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock link %}

{% block title %}
Student Delete
{% endblock title %}



{% block body %}
<h2>Student Delete</h2>

<p> DİKKAT : form işlemi olduğundan csrf_token komutu eklemek gerekli,</p>

<form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure delete İD NO : {{ id }} - STUDENT : {{ student }} !!</p>
    <button type="submit">YES</button>
</form>

<!-- bu buton form dışında olması gerekiyor, yoksa silme yapar,
bunu href="http://127.0.0.1:8000/list/" böyle yazabiliriz,
veya DTL ile url, adrese git, "name", hangi adrese git şeklinde yazabiliriz. -->
<a href="{% url 'student_list' %}">
    <button>No</button>
</a>
{% endblock body %}