{% extends 'base.html' %}
{% load static %}
{% block link %}
<!--? static, students içindeki static klasörü altındaki main.css çalışır ve h1 kırmızı, h2 yeşil resim küçük olur. -->
<link rel="stylesheet" href="{% static 'students/main.css' %}">
{% endblock link %}


{% block title %}
Student Info
{% endblock title %}



{% block body %}
<h1>ne renk</h1>
<h2>Student Info</h2>
<hr>

<p>student.image.url, bize image'ın adresini verir. <br> Eğer image varsa, yoksa uyarı mesajı gelir. </p>
{% if student.image %}
{{ student.image.url}}
{% else %}
<p>Bu kullanıcıya ait resim eklenmediği için adresi yoktur.</p>
{% endif %}

<hr>
<p>Görmek istediğimiz bilgileri alıp yazıyoruz;</p>

{{ student.first_name}} <br>
{{ student.last_name}} <br>
{{ student.number}}

<hr>

<!-- resim yoksa/varsa ona göre hata vermesin diye bir condition yazıyoruz, 
bu hatanın önüne geçmek için default image tanımlanabilir,
veya image alanı zorunlu yapılabilirdi,
-->
{% if student.image %}

<p>resmi görmek için img tagı kullanıp src'sine student.image.url yazmak gerekli </p>
<img src="{{ student.image.url}}" alt="">

{% else %}
<p>Bu kullanıcıya ait resim eklenmemiştir.</p>

{% endif %}

<div>
    <a href="{% url 'student_update' student.id %}">
        <button>UPDATE</button>
    </a>
    <a href="{% url 'student_delete' student.id %}">
        <button>DELETE</button>
    </a>
</div>

{% endblock body %}