{% extends 'base.html' %}


{% block title %}
Student List
{% endblock title %}


<!-- students olarak contexten gelen veri bir queryset,
    aynı liste gibi for ile döngüde kullanılabilir. -->

{% block body %}
<h1>Student List</h1>


{{ students }}
<h3>Yukarıdaki gelen objenin tamamı, Queryset</h3>

<hr>

<h3> str metodunda belirtilen hali; </h3>
<ul>
    {% for student in students %}
    <!--* modelde belirttiğimiz str metodu nasılsa öyle görünür çıktısı -->
    <li> {{ student }} </li>
    {% endfor %}
</ul>

<hr>

<h3> isimler'in yanına numara eklemek istersek; </h3>
<ul>
    {% for student in students %}
    <!--* nokta notasyonu ile number'a ulaşılabilir. -->
    <li> {{ student.number }} - {{ student }} </li>
    {% endfor %}
</ul>

<hr>

<h3> Üzerine tıklayıca detayı görünmesi için </h3>
<ul>
    {% for student in students %}

    <!--? link verilerek üzerine tıklanan öğrenci detayı görülebilir, bunun için url yanına student.id ile id eklenir. -->
    <a href="{% url 'student_detail' student.id %}">
        <!--* nokta notasyonu ile number'a ulaşılabilir. -->
        <li> {{ student.number }} - {{ student.first_name }} </li>
    </a>
    {% endfor %}
</ul>


{% endblock body %}